<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="bigbox">
        <div class="title">
            <h1>Task Manager</h1>
            <div class="line">
                <input placeholder="What needs to be done?" type="text">
                <button>Add Task</button>
            </div>
        </div>
        <div class="tasks">
            <div class="TaskA">
            <i class="fa fa-check" aria-hidden="true"></i>
             <p><s>Task A</s></p>
             <button class="Remove">Remove</button>   
            </div>
                        <div class="TaskA">
            <i class="fa fa-check" aria-hidden="true"></i>
             <p>Task B</p>
             <button class="Remove">Remove</button>   
            </div>
            <div class="TaskA TaskC">
            <span class="check"><i class="fa fa-check" aria-hidden="true"></i></span>
             <p><s>Task C</s></p>
             <button class="Remove">Remove</button>   
            </div>

        </div>
    </div>
</body>
</html>